:root {
  font-size: 16px;
  --primary-color: #070707; /* Usado em fontes e detalhes */
  --background-color: #f6f6f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  margin: 0 auto;
  text-align: center;
}

section {
  padding: 2rem;
}

section:nth-child(2n) {
  background-color: var(--background-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
}

.hero {
  text-align: left;
}

header {
  display: flex;
  justify-content: space-between;
}

h1, h2 {
  font-weight: 700;
  margin: 0;
}

.menu {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.hamburguer {
  border-radius: 0.5rem;
  display: block;
  background-color: black;
  height: 0.2rem;
  position: relative;
  width: 2rem;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background-color: black;
  border-radius: 0.5rem;
  content: '';
  display: block;
  height: 0.2rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.hamburguer:before {
  transform: translateY(-0.5rem);
}

.hamburguer:after {
  transform: translateY(0.5rem);
}

.menu.open .hamburguer {
  transform: rotate(45deg);
}

.menu.open .hamburguer:before {
  transform: rotate(90deg);
}

.menu.open .hamburguer:after {
  transform: rotate(90deg);
}

/*
  A classe profile-photo tem um padding extra para ter um efeito no border-radius que deixa a imagem com um formato diferente. Porém a imagem fica descentralizada e a div profile-photo-centralizer centraliza a imagem.
*/
.profile-photo-centralizer {
  display: flex;
  justify-content: center;
}

.profile-photo {
  border-radius: 50%;
  box-sizing: content-box;
  height: auto;
  margin-right: 4rem;
  margin-top: 1rem;
  padding-left: 4rem;
  width: 12rem;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 2rem;
  padding-left: 0;
}

.contact-link {  
  color: var(--primary-color);
  font-size: 2rem;
}