:root {
  /* screen-contact: 22rem; */
  /* screen-menu: 48rem; */
  --primary-color: #070707; /* Usado em fontes e detalhes */
  --background-color: #f6f6f6;
  --link-hover-color: #5d5d5d;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  margin: 0 auto;
  text-align: center;
}

section {
  padding: 4rem 2rem;
}

section:nth-child(2n) {
  background-color: var(--background-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--link-hover-color);
}

/* Begin of mobile menu */
.menu-mobile {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  z-index: -1;
}

.menu-mobile.show {
  opacity: 1;
  z-index: 2;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.menu-item {
  margin: 2rem 0;
}

.menu-link {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}
/* End of mobile menu */

.hero {
  height: 100vh;
  text-align: left;
}

.hero .container {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

h1, h2 {
  font-weight: 700;
  margin: 0;
}

.btn-hamburguer {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
  z-index: 4;
}

.menulg-list {
  border-bottom: 1px solid var(--primary-color);
  display: none;
  list-style-type: none;
  margin-bottom: 2rem;
  width: 100%;
}

.menulg-item {
  margin-bottom: 1.5rem;
}

.menulg-link {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.hamburguer {
  display: block;
  background-color: black;
  height: 0.2rem;
  position: relative;
  width: 2rem;
  transition: all 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background-color: black;
  border-radius: 0.5rem;
  content: '';
  display: block;
  height: 0.2rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.hamburguer:before {
  transform: translateY(-0.5rem);
}

.hamburguer:after {
  transform: translateY(0.5rem);
}

.btn-hamburguer.open .hamburguer {
  transform: rotate(45deg);
}

.btn-hamburguer.open .hamburguer:before {
  transform: rotate(90deg);
}

.btn-hamburguer.open .hamburguer:after {
  transform: rotate(90deg);
}

/*
  A classe profile-photo tem um padding extra para ter um efeito no border-radius que deixa a imagem com um formato diferente. Porém a imagem fica descentralizada e a div profile-photo-centralizer centraliza a imagem.
*/
.profile-photo-centralizer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.profile-photo {
  border-radius: 50%;
  box-sizing: content-box;
  height: auto;
  margin-right: 4rem;
  margin-top: 1rem;
  padding-left: 4rem;
  width: 12rem;
}

.about {
  display: flex;
  justify-items: center;
}

.about p {
  max-width: 30rem;
}

/* TODO: Ajustar tamanhos dos projetos no mobile e no pc */

.contact {
  display: flex;
  justify-content: center;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 2rem;
  padding-left: 0;
}

@media(min-width: 22rem){
  .contact-list {
    width: 15rem;
  }
}

.contact-item:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.contact-link {  
  color: var(--primary-color);
  font-size: 2rem;
}

footer {
  background-color: var(--background-color);
  font-size: 0.8rem;
  padding: 1rem;
  text-align: center;
}

/* Media querie to change mobile menu to large menu */
@media (min-width: 40rem){
  .hero {
    padding-top: 2rem;
  }

  header {
    display: block;
  }

  .presentation {
    display: flex;
    justify-content: space-between;
  }

  .presentation-description {
    text-align: right;
  }
  
  .btn-hamburguer, .menu-mobile {
    display: none;
  }

  .menulg-list {
    display: flex;
    justify-content: space-between;
  }

  .profile-photo-centralizer {
    margin-top: 4rem;
  }

  .profile-photo {
    width: 12rem;
  }
}